# Created by .ignore support plugin (hsz.mobi)
.idea
.aws-sam
HelloWorldFunction/.aws-sam
packaged.yaml
.idea/sonarlint/
HelloWorldFunction/target/generated-sources/
HelloWorldFunction/target/generated-test-sources/